<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Title of the web page -->
        <title>Search by Region</title>

        <!-- Let's add a bit of styling to make it look pretty -->
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="content">
            <form class="" action="/region_db" method="get">
                <label>
                    <h>DB Search Region, USA or Korea</h>
                    <input type="text" name="q"><br>
                </label>
                <button type="submit" name="button">Send</button>
            </form>

            <main>
                <br>
                <h>Trend Collected In Database</h>
                <br>
                {% for item in items %}
                    <b>{{ item }}</b>
                    <br> <!-- <br> creates a line break -->
                {% endfor %}
            </main>
        </div>
    </body>
</html>
